$font-prefix: "~@ibm/plex";
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';
@import '../../styles/global.scss';

.About {
    @media (max-width: 600px) {
        position: absolute;
        top: 90px;
        .title {            
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 217.1%; /* or 50px */
            text-align: justify;
        }  
        
        .AboutText {
            font-family: IBM Plex Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 171.1%;
            /* or 24px */

            text-align: justify;
        }
    } 

    @media (min-width: 600px) {
        position: absolute;
        top: 100px;
        .title {
            margin-top: 75px;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 217.1%; /* or 50px */
            text-align: justify;
        }  
        
        .AboutText {
            font-family: IBM Plex Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 171.1%;
            width: 78%;
            /* or 24px */

            text-align: justify;
        }       
    }   
}