@import '../../../../styles/global.scss';

.WorkItem {
    transition: height 0.55s cubic-bezier(0.645,0.045,0.355,1);
    @media (max-width: 600px) {
        position: relative;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* or 26px */
        text-align: right;
        background: #C3E9FE;
        border-radius: 5px;
        width: 100%;
        height: 150px;
        display: flex;

        padding-right: 10px;
        margin-top: 15px;
        margin-bottom: 15px;

        &.open {
            height: 300px;
        }

        .WorkItemContents {
            position: absolute;
            left: 12px;
            width: 100%;
            height: 145px;
        }

        .more {
            position: absolute;
            height: 20px;
            width: 94%;
            left: 3%;
            bottom: 0;
            z-index: 999;
            #arrow {
                width: 48px;
                height: 12px;
                left: 42%;
            }
        }

        img {
            position: absolute;
            max-height: 140px;
            right: 24px;
            top: 14px;
        }

        .WorkItemTitle {
            position: absolute;
            left: 0px;
            top: 25px;
            font-size: 20px;
        }
        .WorkItemSubTitle {
            position: absolute;
            left: 1px;
            top: 52px;
            font-size: 10px;
            line-height: 130%; /* or 13px */
        }

        .WorkItemRoll {
            position: absolute;
            left: 1px;
            top: 74px;
            font-size: 13px;
            line-height: 130%; /* or 13px */
        }

        .WorkItemDetails {
            position: absolute;
            //transition: all 8s cubic-bezier(0.645,0.045,0.355,1);
            font-size: 13px;
            text-align: left;
            color: black;
            opacity: 0;
            left: 2%;
            top: 140px;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
            @keyframes fadeInOpacity {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            &.open {
                opacity: 1;
                height: 130px;
                overflow-y: scroll;
            }
        }

        &#blind_date {
            img {
                top: 10%;
                height: 80%;
            }

        }   
        &#dexter {
            background: #FED4C3;
            img {
                top: 22%;
                height: 56%;
            }
        }
        &#pearl {
            background: #EADAFF;
            img {
                top: 27%;
                height: 46%;
            }
        }
        &#vibe_mill {
            background: #FDFEC3;
            img {
                top: 27%;
                height: 46%;
            }
        }
    }

    @media (min-width: 600px) {
        position: relative;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* or 26px */
        text-align: right;
        background: #C3E9FE;
        border-radius: 5px;
        width: 46%;
        height: 220px;
        display: inline-flex;
        vertical-align: top;

        padding-right: 10px;
        margin-top: 15px;
        margin-bottom: 15px;

        // &:hover {
        //     margin-top: 10px;
        // }

        &.open {
            height: 330px;
        }

        .WorkItemContents {
            position: absolute;
            left: 30px;
            width: 96%;
            height: 205px;
        }

        .more {
            position: absolute;
            height: 15px;
            width: 94%;
            left: 3%;
            bottom: 0;
            border-top: 1px solid rgb(161, 154, 154);
            z-index: 999;
            #arrow {
                width: 18px;
                height: 6px;
                left: 47%;
            }
            &:hover {
                cursor: pointer;
            }
        }

        img {
            position: absolute;
            right: 23px;
            top: 14px;
            max-width: 140px;
        }

        .WorkItemTitle {
            position: absolute;
            font-size: 31px;
            text-align: left;
            top: 55px;
            left: 0;
        }
        .WorkItemSubTitle {
            position: absolute;
            top: 95px;
            left: 0;
            font-size: 13px;
            text-align: left;
            line-height: 130%; /* or 13px */
        }

        .WorkItemRoll {
            position: absolute;
            top: 145px;
            left: 0;
            font-size: 20px;
            text-align: right;
            line-height: 130%; /* or 13px */
        }

        .WorkItemDetails {
            position: absolute;
            //transition: all 8s cubic-bezier(0.645,0.045,0.355,1);
            font-size: 13px;
            text-align: left;
            color: black;
            opacity: 0;
            left: 5%;
            top: 210px;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
            @keyframes fadeInOpacity {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            &.open {
                opacity: 1;
                height: 100px;
                overflow-y: scroll;
            }
            &::-webkit-scrollbar-track{
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                background-color: transparent;
            }
        
            &::-webkit-scrollbar{
                width: 5px;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                background-color: transparent;
            }
        
            &::-webkit-scrollbar-thumb{
                width: 20px;
                border-radius: 10px;
                background-color: #555;
            }
        
            &::-webkit-scrollbar-track::end {
                background-color: transparent;
                margin-bottom: 10px; 
            }
            
            &::-webkit-scrollbar-track::start {
                background-color: transparent;
                margin-top: 10px;
            }
        }

        &#blind_date {
            img {
                height: 80%;
                top: 10%
            }
        }   
        &#dexter {
            background: #FED4C3;
            img {
                height: 50%;
                width: 90px;
                top: 25%;
            }
        }
        &#pearl {
            background: #EADAFF;
            img {
                top: 30%;
                height: 40%;

            }
        }
        &#vibe_mill {
            background: #FDFEC3;
            img {
                top: 25%;
                height: 50%;
            }
        }
    }
}