$font-prefix: "~@ibm/plex";
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';
@import url("https://use.typekit.net/gvq4vud.css");
$globalFont: IBM Plex Mono;

* {
    font-family: futura-pt, sans-serif;
    @media (max-width: 600px) {
    }
}