$font-prefix: "~@ibm/plex";
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';
@import '../../styles/global.scss';

.Work {
    @media (max-width: 600px) {
        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            padding-bottom: 20px;
        }  
        .subHeader {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 171.1%; /* or 36px */
            text-align: justify;
            width: 189px;
            height: 186px;
        }  
    } 

    @media (min-width: 600px) {
        .subHeader {
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 220%; /* or 36px */
            text-align: justify;
            width: 709px;
            height: 186px;
        } 
        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            padding-bottom: 20px;
        }         
        .WorkItems {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }      
    }   
}