.Socials {
    position: absolute;
    display: flex;
    a { 
        position: absolute;
        color: none;
        text-decoration: none;
    }
    @media (max-width: 600px) {
        height: 13px;
        width: 82px;
        top: 120px;
        right: 0px;
        a {
            top: 1px;
            padding: none;
            margin: none;
            $size: 11px;
            width: $size;
            height: $size;
            z-index: 9999;
        }
        img {
            $size: 11px;
            width: $size;
            height: $size;
            display: block;
        }
        #github {
            left: 0;
        }
        #linkedin {
            left: 24px;
        }
        #twitter {
            left: 47px;
        }
        #email {
            left: 70px;
        }
    }

    @media (min-width: 600px) {
        position: absolute;
        height: 120px;
        width: 36px;
        top: 5px;
        right: 4%;
        $iconSize: 26px;
        a {
            left: 1px;
            padding: none;
            margin: none;
            width: $iconSize;
            height: $iconSize;
            z-index: 9999;
        }
        img {
            $size: 34px;
            width: $iconSize;
            height: $iconSize;
            display: block;
        }
        #github {
            top: 0;
        }
        #linkedin {
            top: 52px;
        }
        #twitter {
            top: 108px;
        }
        #email {
            top: 160px;
        }
    }
    

}