$font-prefix: "~@ibm/plex";
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';
@import 'styles/global.scss';

.App {
    display: grid;

    @media (max-width: 600px) {
        width: auto;
        height: 100vh;
        background-color: #FFF7EA;
        .name {
            //font-family: IBM Plex Mono;
            font-style: normal;
            font-weight: 600;
            font-size: 19px;
            position: absolute;
            left: 5%;
            top: 26px;
        }  

        .pageContainer {
            position: absolute;
            top: 115px;
            width: 100%;
            background-color: #FFF7EA;
        }
        
        .pageBody {
            position: relative;
            width: 80%;
            left: 10%;
            right: 10%;
            background-color: #FFF7EA;
        }

        .me {
            position: absolute;
            width: 90px;
            height: 111px;
            right: -4px;
            top: 0;
            border-radius: 5px;
            z-index: 999;
        }
    } 

    @media (min-width: 600px) {
        width: auto;
        height: 155vh;
        background-color: #FFF7EA;
        .name {
            //font-family: IBM Plex Mono;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            position: absolute;
            left: 5%;
            top: 20px;            
        }  

        .pageContainer {
            position: absolute;
            top: 100px;
            width: 100%;
            background-color: #FFF7EA;
            padding-bottom: 80px;
            min-height: 78vh;
        }
        
        .pageBody {
            position: relative;
            width: 70%;
            left: 8%;
            background-color: #FFF7EA;
        }

        .picAndSocials {
            position: absolute;
            right: 4%;
            top: 30px;
            height: 200px;
            width: 200px;
        }

        .me {
            position: absolute;
            width: 143px;
            height: 192px;
            top: 0;
            left: 0;
            border-radius: 5px;
            z-index: 999;
        }      
    }   
}
    
